<mat-card>
    <form #carForm="ngForm" (ngSubmit)="save(carForm.value)">
      <mat-card-header>
        <mat-card-title><h2>{{owner.name ? 'Edit' : 'Add'}} Owner</h2></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <input type="hidden" name="href" [(ngModel)]="owner.href">
        <mat-form-field>
          <input matInput placeholder="Owner DNI" [(ngModel)]="owner.dni"
                 required name="dni" #dni>
        </mat-form-field><br>        
        <mat-form-field>
          <input matInput placeholder="Owner Name" [(ngModel)]="owner.name"
                 required name="name" #name>
        </mat-form-field><br>
        <mat-form-field>
          <input matInput placeholder="Owner profession" [(ngModel)]="owner.profession"
                 required name="profession" #profession>
        </mat-form-field><br>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit"
                [disabled]="!carForm.form.valid">Save</button>
        <button mat-raised-button color="secondary" (click)="remove(owner)"
                *ngIf="owner.href" type="button">Delete</button>
        <a mat-button routerLink="/owner-list">Cancel</a>
      </mat-card-actions>
    </form>
  </mat-card>